@media screen and (max-width: 768px) {

    /************************************
    Navgation
    ************************************/
    .menu_button {
        font-size: 6vw;
    }

    .nav_menu p {
        font-size: 4vw;
    }

    .about, .skills, .projects, .contact {
        height: 22.5vh;
    }

    /************************************
    Name
    ************************************/
    .fname {
        transform: translateY(0);
    }

    .lname {
        transform: translateY(70vh);
    }

    .fname h1, .lname h1 {
        font-size: 7vh;
    }

    /************************************
    About Me
    ************************************/
    .title img {
       width: 100%;
        height: auto;
    }


}
