@media screen and (max-width: 768px) {

    /************************************
    Navgation
    ************************************/
    .menu_button {
        font-size: 6vw;
    }

    .nav_menu p {
        font-size: 5vw;
    }

    .about, .skills, .projects, .contact {
        height: 22.5vh;
    }

    .about:hover .about_click p {
        font-size: 6vw;
    }

    .skills:hover .skills_click p {
        font-size: 6vw;
    }

    .projects:hover .projects_click p {
        font-size: 6vw;
    }

    .contact:hover .contact_click p {
        font-size: 6vw;
    }

    /************************************
    Name
    ************************************/

    /************************************
    About Me
    ************************************/
    .title img {
        width: 100%;
        height: auto;
    }

    .title_h1 h1 {
        font-size: 10vw;
    }

    .about_text {
        font-size: 4vw;
    }

    /************************************
    Project Page
    ************************************/



}

