@media screen and (max-width: 768px) {

    /************************************
    Navgation
    ************************************/
    .menu_button {
        font-size: 8vw;
        opacity: 1;
    }

    .nav_menu p {
        font-size: 5vw;
    }

    .about, .skills, .projects, .contact {
        height: 22.5vh;
    }

    /************************************
        Landing Page
    ************************************/

    .land_text::before {
        background: transparent url('img/trevlandbgtrans.png') no-repeat 50% 50%;
        background-size: cover;
        opacity: .25;
    }

    .land_text .title h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        font-weight: 200;
        font-size: 8vw;
        opacity: 0;

    }


    .title h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -20%);
        font-weight: 200;
        font-size: 5vw;
        opacity: 0;
    }

    /************************************
    Name
    ************************************/
    .fname {
        transform: translateY(75vh);
        padding: 0;
    }

    .lname {
        transform: translateY(75vh);
        padding: 0;
        margin-left: 5vw;

    }

    .fname h1, .lname h1 {
        font-size: 10vh;
    }

    /************************************
    About Me
    ************************************/
    .title img {
        width: 100%;
        height: auto;
    }

    .title_h1 h1 {
        font-size: 10vw;
    }

    .about_text {
        font-size: 4vw;
    }

    /************************************
    Project Page
    ************************************/



}

@media screen and (max-width: 360px) {

    /************************************
    Navgation
    ************************************/
    .menu_button {
        font-size: 10vw;
        opacity: 1;
    }

}

