/*******************************************************************
GEBERAL
*******************************************************************/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0;
}

/*******************************************************************
index.html
*******************************************************************/
/********************************
PAGE: Landing Page
*********************************/
.landing_div {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100vh;
    background: #fff url('img/land.jpg') no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-size: 20px;
}

/******intro div*****/

/*.intro {*/
    /*position: relative;*/
    /*height: 100vh;*/
    /*text-align: center;*/
/*}*/

/*#arrow {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*transform: translateY(-50%);*/
    /*width: 25px;*/
    /*height: 50px;*/
    /*opacity: 0;*/
    /*cursor: pointer;*/
/*}*/

/*.landing_div:hover #arrow {*/
    /*transition-duration: 2s;*/
    /*transition-delay: 2s;*/
    /*opacity: 1;*/
/*}*/

/*.line_shift {*/
    /*height: 100vh;*/
    /*transform: translateX(-100%);*/
    /*margin-left: -25px;*/
/*}*/

/*.landing_div .line_shift::before, .landing_div .line_shift::after {*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 0;*/
    /*bottom: 100px;*/
    /*opacity: 1;*/
    /*content: '';*/
    /*transition: opacity 1s, transform 1s;*/
/*}*/

/*.landing_div .line_shift::before {*/
    /*border-top: 1px solid #fff;*/
    /*border-bottom: 1px solid #fff;*/
    /*transform: scale(0, 1);*/
/*}*/

/*.landing_div .line_shift::after {*/
    /*border-left: 1px solid #fff;*/
    /*border-right: 1px solid #fff;*/
    /*transform: scale(1, 0);*/
/*}*/

/*.landing_div:hover .line_shift::before, .landing_div:hover .line_shift::after {*/
    /*opacity: 1;*/
    /*transform: scale(1);*/
/*}*/


/******left_nav_menu div*****/

.left_nav_menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

.left_nav_menu .title_text h2 {
    position: absolute;
    margin-top: -75px;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
    opacity: 0;
}

.left_nav_menu .title_text p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 300;
    transform: translateY(-40px);
    opacity: 0;
}

.left_nav_menu .title_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing_div:hover .left_nav_menu .title_text h2 {
    transition-duration: 3s;
    transition-timing-function: ease-out;
    opacity: 1;
}

.landing_div:hover .left_nav_menu .title_text p {
    transform: translateY(0px);
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 1.5s;
    opacity: 1;
}

.landing_div .left_nav_menu::before, .landing_div .left_nav_menu::after {
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: 5vh;
    opacity: 0;
    content: '';
    transition: opacity 1s, transform 1s;
}

.landing_div .left_nav_menu::before, .landing_div .right_nav_menu::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0, 1);
}

.landing_div .left_nav_menu::after, .landing_div .right_nav_menu::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale(1, 0);
}

.landing_div:hover .left_nav_menu::before, .landing_div:hover .left_nav_menu::after {
    opacity: 1;
    transform: scale(1);
}

/******right_nav_menu div*****/

.nav_menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 90vh;
}

.about, .skills, .projects, .contact {
    height: 45vh;
}

.about_click, .skills_click, .projects_click, .contact_click {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, .25);
}

.nav_menu p {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/*.landing_div:hover .right_nav_menu .nav_item p:nth-child(1) {
    transform: translateX(0px);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    opacity: 1;
}

.landing_div:hover .right_nav_menu .nav_item p:nth-child(2) {
    transform: translateX(0px);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.25s;
    opacity: 1;
}

.landing_div:hover .right_nav_menu .nav_item p:nth-child(3) {
    transform: translateX(0px);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.75s;
    opacity: 1;
}

.landing_div:hover .right_nav_menu .nav_item p:nth-child(4) {
    transform: translateX(0px);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
    opacity: 1;
}*/

/*.landing_div .right_nav_menu::before, .landing_div .right_nav_menu::after {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 100px;
    opacity: 0;
    content: '';
    transition: opacity 1s, transform 1s;
}

.landing_div:hover .right_nav_menu::before, .landing_div:hover .right_nav_menu::after {
    opacity: 1;
    transform: scale(1);
}*/

/********************************
PAGE: About Page
*********************************/
.about_div {
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
}


